{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Locate Reservation</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3">
		<div class="card" style="width: 20rem;">
		  <div class="card-block">
		    <h4 class="card-title">Search by Reservation</h4>
		    <div class="row">
		    	<form name="myform">
		    	<div class="col-sm-10">
		    		<div id="lookup">
		    		<input type="text" name="reservationID" placeholder="Conf #" class="form-control"
		    		onkeypress="if(event.keyCode==13) { find_reservation(this.form); return false;}"
		    		>
		    		</div>
		    	</div>
		    	<div class="col-sm-1"><input type="button" value="Go" class="btn btn-primary" onclick="find_reservation(this.form)"></div>
		    	</form>
		    </div>
		    
		  </div>
		</div>
	</div>

</div>

<script>
function find_reservation(myform) {
	$.get('{{path('lookupreservation')}}',
	$(myform).serialize(),
	function(php_msg) {
		$("#lookup").html(php_msg);
	});
}
</script>


{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}