<form name="myform">
<div id="lookup">
{% if found == 0 %}
<input type="text" name="reservationID" placeholder="Invalid Conf #" class="form-control"
		    		onkeypress="if(event.keyCode==13) { find_reservation(this.form); return false;}">
{% else %}
<font color="green">Found! Loading...</font>
<script>
setTimeout(function() {
      window.location.replace('{{path('viewreservation')}}/{{reservationID}}')
}
,1000);
</script>
{% endif %}
</div>
</form>

<script>
function find_reservation(myform) {
	$.get('{{path('lookupreservation')}}',
	$(myform).serialize(),
	function(php_msg) {
		$("#lookup").html(php_msg);
	});
}
</script>