<h3>Daily Reservation Report : {{site_name}}</h3>

Hi {{ name }}! You have requested the Daily Reservation Report to be exported from <b><font color="blue">{{date1}} to {{date2}}</font></b>.<br><br>
The exported document is attached to this email.
<br><br>
Thanks you!<br>
Aggressor Fleet
<br><br><br>


