{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Access Denied</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-8">
		<div class="alert alert-danger">Sorry, but you tried to access <b>{{section}}</b> but your role does not allow access.</div>
	</div>
</div>

{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}