{% extends 'base.html.twig' %}

{% block header %}
	{% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Balance Report</h2>
	</div>
</div>








{% endblock %}
{% block footer %}
	{% include('footer.html.twig') %}
{% endblock %}