{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
    	<div class="container">
    		<h3 class="text-center">Registration</h3><br>
    		{% include('flash-messages.html.twig') %}
    		{{ form(registration_form) }}
    	</div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}